* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.todo-app {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 50vmax;
  margin: auto;
  min-height: 500px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px !important;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 3px;
  z-index: 1;
}

h1 {
  margin-bottom: 50px;
  color: #000000;
  font-size: 44px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  color: #000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.todo-input::placeholder {
  color: #000;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #5d0cff;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.todo-button:hover {
  text-transform: uppercase;
}

.todo-input.edit {
  border: 2px solid #0129b6;
}

.todo-button.edit {
  background: #5d0cff;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px auto;
  width: 100% !important;
  color: #fff;
  background: #5d0cff;
  padding: 12px;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.delete-icon:hover,
.edit-icon:hover {
  font-size: larger;
  color: #a882f3;
}

.edit-icon {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 650px) {
  .todo-app {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .todo-context {
    width: 80vw;
  }

  .todo-input {
    width: 215px;
  }

  .todo-row {
    width: 80%;
  }

  .todo-button:hover {
    text-transform: none;
  }
}
