* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.todo-app {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 50vmax;
  margin: auto;
  min-height: 500px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px !important;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 3px;
  z-index: 1;
}

h1 {
  margin-bottom: 50px;
  color: #000000;
  font-size: 44px;
}

.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table td {
  width: 200px;
  height: 30px;
  background-color: rgb(54, 135, 211);
  text-align: center;
  color: white;
}

table td button {
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}
table td button.edit {
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white;
}
table td button.edit:hover {
  background-color: rgb(3, 71, 3);
}
table td button.delete {
  border: 1px solid red;
  background-color: rgb(219, 19, 19);
  color: white;
}
table td button.delete:hover {
  background-color: rgb(92, 5, 5);
}

.addForm {
  margin-bottom: 30px;
}
.addForm input {
  width: 230px;
  height: 30px;
}
.addForm button {
  width: 135px;
  color: white;
  height: 35px;
  background-color: rgb(31, 171, 31);
}
.addForm button:hover {
  background-color: rgb(5, 86, 5);
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

@media (min-width: 320px) and (max-width: 650px) {
  .todo-app {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .todo-context {
    width: 80vw;
  }

  .todo-input {
    width: 215px;
  }

  .todo-row {
    width: 80%;
  }

  .todo-button:hover {
    text-transform: none;
  }
}
